fastapi==0.111.0
python-dotenv==1.0.1
uvicorn==0.30.1
notion-client==2.1.0
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
cryptography==42.0.7
python-decouple==3.8
httpx
google-genai
asyncpg
tortoise-orm
hypercorn
fastapi-limiter
redis